.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(87, 87, 87);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

.image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.p{
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgb(87, 87, 87);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(151, 31, 31, 0.233);
    align-items: center;
    text-align: center;
    min-width: 40%;
    color: tomato;
    padding: 10px;
    background: center;
  }

.card{
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgb(87, 87, 87);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(36, 68, 110, 0.527);
    align-items: left;
    min-width: 40%;
    color: darkblue;
    padding: 25px; 
    flex-wrap: wrap;
}

.title{
    text-decoration: solid;
    text-align: center;
    color: seagreen;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    background: center;
    background-color: rgba(197, 150, 19, 0.089);
    justify-content: space-around;
    display: flex;
    border-radius: 5px;
    padding: 5px;
}